@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');

/* 
    Montserrat: compact
    Nunito Sans: bolder
*/
:root {
    --color-highlight: #10c9c3;
    --color-bg: #787878;
    --color-font: #141414;
    --color-bg-2: #f5f5f5;
    --color-bg-3: #ffffff;
}

.navbar {
    padding:20px;
    position:absolute;
    left:0;
    right:0;
    top:0;

    z-index:1;
}
.navbar-brand {
    margin-left: 20px;
}
.nav-link {
    color: var(--color-font) !important;
    padding:5px 20px 5px 20px !important;
    transition: opacity 0.25s;
    font-family: "Nunito Sans", inherit !important;
}
.nav-link.active {
    color: var(--color-highlight) !important;
}
.nav-link:hover {
    opacity: 0.8;
}
.main-content {
    margin-top:800px; /* hero-image */
    padding:0;
}
.hero-image {
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:800px;
}
.hero-image > img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.hero-image > div {
    position:absolute;
    left: 50%;
    top: 300px;
    right:5%;
}



#skills {
    height:600px;
}
#skills > div:nth-child(1) {
    background-color: var(--color-bg-2);
    padding: 150px 50px;
    height:600px;

}
#skills > div:nth-child(2) {
    padding:0;
}
#skills > div:nth-child(2) > img {
    width:100%;
    height:600px;
    object-fit:cover;
    object-position: right;
}



#stats {
    background-color: var(--color-highlight);
    color:white;
    padding:66px 3%;
}
#stats > div {
    padding:10px 10px;
}
#stats img {
    padding-right: 10px;
    padding-top:5px;
    float:left;
}
.stat-number {
    display:block;
    font-size:large;
}
.stat-title {
    display:block;
    font-size:small
}



#preview-images > div {
    padding:0;
    position:relative;
}
#preview-images > div > img {
    width:100%;
    height:100%;
    max-height:350px;
    object-fit: cover;
}
#preview-images .overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #000000;
    opacity: 0;
    transition:opacity 0.2s;
}
#preview-images .overlay > img {
    margin:auto;
    display:block;
    
    width:48px;

    height:100%;
    object-fit: contain;
}
#preview-images .overlay:hover {
    opacity:0.8;
}



#services img {
    margin:10px;
}
#services .font-title {
    margin:5px;
}
#services p {
    opacity:0.7;
}



#testimonials {
    background-color: var(--color-highlight);
    color:white;
    padding:200px 0px;
}



#companies img {
    display:block;
    margin:50px auto 50px auto;
}



.font-title {
    font-family: "Nunito Sans", inherit !important;
}
body {
    font-family: "Montserrat", inherit !important;
}
.faded {
    opacity:0.7;
}
button {
    background-color:var(--color-highlight);
    color:white;
    border-radius:5px;
    padding:15px 25px 15px 25px;
    border:0;
}
.center-content {
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
}
.progress {
    margin:10px 0px;
    height:3px;
    background-color: silver;
}
.progress-bar {
    background-color: var(--color-highlight);
}